<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevHub</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism-tomorrow.css" rel="stylesheet">
</head>

<body>

<nav class="navbar">


    <a href="/">
    <img src="{{ url_for('static', filename='images/profile.png') }}" class="logo">
</a>



<div class="nav-link">  
{% if session.get("user") %}
    <a href="/">Home</a> |
    <a href="/snippets">Snippets</a> |
    <a href="/create">Create</a> |
    <a href="/dashboard">Dashboard</a> 👤 {{session.get("user")}} |
    <a href="/logout">Logout</a>
{% else %}
    <a href="/">Home</a> |
    <a href="/login">Login</a> |
    <a href="/register">Register</a>

    <form action="/snippets" method="GET" class="search-form">
    <input type="text" name="q" placeholder="Search snippets...">
    <button type="submit">🔍</button>
    </form>
    
{% endif %}


</div>

</nav>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-container">
      {% for msg in messages %}
        <div class="flash-message">{{ msg }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}


<div class="{% if request.path == '/login' or request.path == '/register' %}auth-page{% else %}container{% endif %}">
    {% block content %}
    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-python.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% if show_footer %}
<footer class="footer">
    <p>© 2026 DevHub. Built with ❤️ by <span>Annu Soni</span></p>
</footer>
{% endif %}
</body>
</html>