{% extends "base.html" %}

{% block content %}

<h2>DevHub Snippets</h2>

{% for snippet in snippets %}

<div class="card">  
<h3>{{snippet[1]}}</h3>
<p><b>Author:</b> {{snippet[3]}}</p>

<button onclick="copyCode(this)">📋 Copy</button>

<pre><code class="language-python">
{{snippet[2]}}
</code></pre>

<p>❤️ Likes: {{snippet[4]}}</p>

<a href="/like/{{snippet[0]}}">
<button>❤️ Like</button>
</a>|
<a href="/edit/{{snippet[0]}}">
<button class="edit-btn">✏️ Edit</button>
</a>

<a href="/delete/{{snippet[0]}}">
<button class="delete-btn">🗑 Delete</button>
</a>


<hr>
</div>
{% endfor %}

{% endblock %}
